nav{
    display: flex;
    background-color: darkgray;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
    padding: 1vw;
}

.index{
    margin-right: 79vw;
}

.login{
    margin-right: 3vw;
}

a{
    text-decoration: none;
    color: black;
}

button{
    background-color: rgb(37, 37, 37);
    color: white;
    border-radius: 25%;
    border: none;
    font-family: 'Konkhmer Sleokchher';
    cursor: pointer;
}

button>a{
    color: white;
}

body{
    height: 100vh;
    background: linear-gradient(-45deg, black, gray);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    font-family: 'Konkhmer Sleokchher';
    color: white;
    text-align: center;
}

a:hover{
    color: white;
    cursor: pointer;
}

h1{
    text-align: center;
    margin: 0 44vw;
}

b{
    color: red;
}

.niedostepne{
    color: grey;
}

.log_in{
    color: white;
}

.log_in:hover{
    color:lightblue;
}

div{
    display: flex;
}

aside{
    margin-top: 15vh;
    padding-top: 20vh;
    width: 15vw;
    background-color: black;
    border-radius: 7%;
}

form{
    width: 75vw;
    padding-top: 10vh;
}

p{
    color: red;
}